@media only screen and (max-width: 768px) {
  .signinCOn form {
    margin-top: 0rem;
    width: 400px;
    box-shadow: none;
  }
  .signinCOn .help {
    margin: 0;
  }
  .signinCOn footer {
    display: none;
  }
}

.signinCOn {
  background-color: #ffffff;
  text-align: center;
}
.signinCOn .svg {
  width: 100%;
}
.signinCOn section svg {
  width: 108px;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  margin-top: 9px;
  margin-left: 30px;
}

.signinCOn section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
.signinCOn section h2 {
  font-weight: 400;
  margin: 1.4rem;
  font-size: 1.8rem;
}

.signinCOn form {
  background-color: #ffffff;
  margin-top: 3rem;
  width: 350px;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  /* box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.32); */
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}
.signinCOn form h4 {
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}
.signinCOn form .stayUpdate {
  text-align: left;
  font-size: 0.8rem;
  color: rgb(74, 72, 72);
}

.signinCOn input {
  width: 100%;
  border-radius: 2px;
  padding: 12px 12px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #8c8c8c;
  font-size: 1rem;
  margin-top: 0.6rem;
}
.signinCOn input:focus {
  box-shadow: 0 0 0 1.5px rgb(68, 108, 230);
}

.signinCOn form .form_group {
  margin: 1rem 0;
}

.signinCOn form .forget {
  font-size: 0.9rem;
  text-align: left;
  color: #8e8f8e;
  margin-top: 0px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.signinCOn .forget a {
  color: #0a66c2;
  text-decoration: none;
  padding: 5px;
}
.signinCOn .forget a:hover {
  text-decoration: underline;
  border-radius: 100vw;
  background-color: #d0e3f5;
}

.signinCOn form button {
  width: 100%;
  padding: 0.7rem;
  border-radius: 100vw;
  border: none;
  cursor: pointer;
}

.signinCOn form .agreeBtn {
  background-color: #0a66c2;
  color: #ffffff;
  font-size: 0.9rem;
  transition: 0.2s ease;
  padding: 1rem 0;
}
.signinCOn form .agreeBtn:hover {
  background-color: #004182;
}

.signinCOn .devider {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 0px 1rem;
  width: 100%;
}

.signinCOn .devider .line {
  height: 0.1rem;
  width: 100%;

  background-color: #dde0e3;
}
.signinCOn .devider h4 {
  padding: 0 1rem;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
}

.signinCOn form .AppleBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  box-shadow: 0 0 0 1px #2b2c2d;
  color: rgb(72, 69, 69);
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.2s ease;
  padding: 0.4rem 1rem;
  margin-bottom: 1.4rem;
}

.signinCOn form .AppleBtn:hover {
  box-shadow: 0 0 0 2px #2b2c2d;
  background-color: #eaeaea;
}

.signinCOn .AppleBtn img {
  width: 25px;
  margin: 0 1rem;
}

.signinCOn .help {
  font-size: 0.9rem;
  margin-top: 2rem;
}
.signinCOn .help a {
  font-weight: 600;
  text-decoration: none;
  color: #0a66c2;
  padding: 7px;
}
.signinCOn .help a:hover {
  text-decoration: underline;
  border-radius: 100vw;
  background-color: #d0e3f5;
}

.signinCOn footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  padding: 0.6rem;
}

.signinCOn .copyright {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.signinCOn .copyright p {
  margin: 0.2rem;
  font-size: 0.8rem;
}
.signinCOn .copyright svg {
  width: 50px;
}

.signinCOn footer a {
  color: #8e8f8e;
  font-size: 0.7rem;
  margin: 0 0.3rem;
  font-weight: 500;
  text-decoration: none;
}

.signinCOn footer a:hover {
  color: #6f7173;
  text-decoration: underline;
}
