* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  background-color: #f3f2ef;
  overflow-x: hidden;
}

/* navbar start here  */

.NavbarCon nav .wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 0.3rem 1.2rem;
  width: 100vw;
}

.NavbarCon .right,
.NavbarCon .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.NavbarCon .left {
  padding-left: 5.4rem;
  display: flex;
  gap: 0.5rem;
}
.NavbarCon .right {
  padding-right: 4rem;
}

.NavbarCon nav {
  background-color: #ffffff;
}
.NavbarCon .logo svg {
  height: 41px;
  width: 41px;
  color: #0a66c2;
  display: flex;
  align-items: center;
}
.NavbarCon nav .input {
  background-color: #ebf0f5;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.NavbarCon nav input {
  width: 16rem;
  font-weight: 600;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background: transparent;
}

.NavbarCon .right .home,
.NavbarCon .right .network,
.NavbarCon .right .jobs,
.NavbarCon .right .message,
.NavbarCon .right .notification,
.NavbarCon .right .user,
.NavbarCon .right .work,
.NavbarCon .right .jobPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  cursor: pointer;
}

.NavbarCon .right .network,
.NavbarCon .right .jobs,
.NavbarCon .right .message,
.NavbarCon .right .notification,
.NavbarCon .right .user,
.NavbarCon .right .work,
.NavbarCon .right .jobPost {
  color: rgb(150, 148, 148);
  font-weight: 300;
}

.NavbarCon .right a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  color: rgb(133, 132, 132);
}

.NavbarCon .input h6 {
  display: none;
}
.NavbarCon .wraper h6 {
  font-weight: 400;
  font-size: 0.8rem;
}

.NavbarCon nav .user img {
  border-radius: 50%;
}

/* hover nav bar  */

.NavbarCon .home:hover {
  color: black;
}
.NavbarCon .network:hover {
  color: black;
}
.NavbarCon .jobs:hover {
  color: black;
}
.NavbarCon .message:hover {
  color: black;
}
.NavbarCon .notification:hover {
  color: black;
}
.NavbarCon .jobPost:hover {
  color: black;
}
.NavbarCon .work:hover {
  color: black;
}

.NavbarCon .user a:hover {
  color: black;
}
.NavbarCon .work a:hover {
  color: black;
}

.NavbarCon .right .loginBTN {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 5rem;
  padding: 0px 9px;
  border-radius: 5rem;
  font-size: 12px;
  border: 1px solid red;
  cursor: pointer;
  transition: 0.4s ease;
  color: red;
  font-weight: 500;
}
.NavbarCon .right .loginBTN:hover {
  background-color: rgb(205, 16, 16);
  color: whitesmoke;
}

/* navbar ends here  */
.container {
  display: grid;
  grid-template-columns: 20% 47% 26%;
  gap: 1.5rem;
  width: 80%;
  margin: 1.8rem auto;
}

/* left side bar  */
.leftSide_con aside .left_sidebar {
  height: auto;
  width: 100%;
  border-radius: 0.8rem;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.leftSide_con .left_sidebar .top {
  width: 100%;
  background-color: grey;
  /* height: 10vh; */
  position: absolute;
}

.leftSide_con .left_sidebar .top img {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 4.5rem;
  border-radius: 50%;
  border: 2px solid white;
}
.leftSide_con .left_sidebar .profile {
  position: relative;
  top: 19%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid rgb(237, 236, 236);
}
.leftSide_con .left_sidebar .profile a {
  margin-top: 4rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
}
.leftSide_con .left_sidebar .profile a h6 {
  font-weight: 500;
}
.leftSide_con .left_sidebar .profile p {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.leftSide_con .left_sidebar .profile a :hover {
  text-decoration: underline;
}

.leftSide_con .left_sidebar .view {
  gap: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 19%;

  border-bottom: 1px solid rgb(237, 236, 236);
}
.leftSide_con .left_sidebar .view .views {
  padding: 0.1rem 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;

  /* top: 8.3rem; */
  color: rgb(100, 98, 98);
  cursor: pointer;
}
.leftSide_con .left_sidebar .view .views:hover {
  background-color: rgb(210, 207, 207);
}
.leftSide_con .left_sidebar .views h6 {
  font-weight: 400;
  font-size: 0.7rem;
  /* margin-bottom: 0.4rem; */
}
.leftSide_con .left_sidebar .view .tp {
  margin-top: 0.8rem;
}
.leftSide_con .left_sidebar .view .btm {
  margin-bottom: 0.8rem;
}
.leftSide_con .left_sidebar .views a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #0a66c2;
  font-weight: 600;
}

.leftSide_con .left_sidebar .premium {
  position: relative;
  top: 19%;
  padding: 0.2rem 0.9rem;
  border-bottom: 1px solid rgb(237, 236, 236);
}
.leftSide_con .premium p {
  text-decoration: none;
  font-size: 12px;
  font-weight: 200;
}

.leftSide_con .premium .access {
  display: flex;

  gap: 0.2rem;
}
.leftSide_con .premium .access a {
  color: black;
}
.leftSide_con .premium .access a h6 {
  font-size: 12px;
  font-weight: 500;
}
.leftSide_con .premium .access a h6:hover {
  color: #3f97ee;
}
.leftSide_con .premium .hr {
  margin-top: 0.8rem;
}

.leftSide_con .premium:hover {
  color: black;
  background-color: rgb(210, 207, 207);
}

.leftSide_con .saved:hover {
  background-color: rgb(210, 207, 207);
}
.leftSide_con .saved {
  width: 100%;
  position: relative;
  top: 19%;
  display: flex;
  padding: 0.7rem 0.3rem;
  gap: 0.5rem;
  padding-left: 1rem;
  color: rgb(129, 126, 126);
  align-items: center;
  cursor: pointer;
}
.leftSide_con .saved h6 {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.leftSide_con aside .left_sidebar_Discovery {
  margin-top: 0.8rem;
  height: 20vh;
  width: 100%;
  border-radius: 0.8rem;
  background-color: #ffffff;
  /* padding: 0.8rem 0.8rem; */
  overflow: hidden;
}
.leftSide_con .left_sidebar_Discovery .top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(237, 236, 236);
  padding: 1rem 0.5rem;
}
.leftSide_con .left_sidebar_Discovery .top .items {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.leftSide_con .left_sidebar_Discovery .top .items a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #3f97ee;
}
.leftSide_con .left_sidebar_Discovery .top .items a:hover {
  text-decoration: underline;
}
.leftSide_con .left_sidebar_Discovery .top i {
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 19%;
  cursor: pointer;
  transform: 0.4s ease;
  color: rgb(138, 137, 137);
}
.leftSide_con .left_sidebar_Discovery .top i:hover {
  border-radius: 50%;
  background-color: rgb(210, 207, 207);
}

.leftSide_con .discover h6 {
  font-size: 12px;
  font-weight: 500;
}
.leftSide_con .discover {
  width: 100%;
  display: flex;
  padding: 0.7rem;

  color: rgb(129, 126, 126);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.leftSide_con .discover:hover {
  background-color: rgb(210, 207, 207);
}

/* left side end here */

/************************* main side start here ********************************* */

main .post {
  height: 18vh;
  width: 100%;
  border-radius: 0.8rem;
  background-color: #ffffff;

  /* position: relative;
  overflow: hidden; */
}

main .post .search {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0rem;
  gap: 0.7rem;
}
main .post .search img {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
}
main .post .search input {
  border-radius: 5rem;
  border: 1px solid rgb(147, 144, 144);
  width: 88%;
  cursor: pointer;
  padding: 0.9rem;
  font-size: 0.9rem;

  transition: 0.3s ease;
}
main .post .search input:hover {
  background-color: rgb(243, 243, 243);
  /* margin: 1rem; */
}

main .post .media {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem 2rem;
}
main .post .media .items {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 1rem;
  /* background-color: red; */
  border-radius: 0.5rem;
  transition: 0.4s ease;
  cursor: pointer;
}
main .post .media .items h6 {
  font-size: 0.8rem;
  color: black;
  font-weight: 400;
}
main .post .media .items svg {
  height: 1.8rem;
  width: 1.8rem;
}
main .post .media .items:nth-child(1) {
  color: #378fe9;
}
main .post .media .items:nth-child(2) {
  color: #5f9b41;
}
main .post .media .items:nth-child(3) {
  color: #a872e8;
}
main .post .media .items:nth-child(4) {
  color: #e16745;
}
main .post .media .items:hover {
  background-color: rgb(231, 230, 230);
}

/* newsfeed work  */
main .newsfeedCon {
  margin-top: 0.7rem;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
}

main .newsfeedCon .postDeleteBtn {
  width: 24px;
  height: 24px;
}
main .newsfeedCon .postDeleteBtn:hover {
  background-color: rgb(231, 230, 230);
  cursor: pointer;
  border-radius: 50%;
}

main .newsfeedCon .deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: auto;
  padding: 0px 9px;
  border-radius: 5rem;
  font-size: 12px;
  border: 1px solid red;
  cursor: pointer;
  transition: 0.4s ease;
  color: red;
  font-weight: 500;
  position: relative;
  right: -42%;
  top: 47%;
}
main .newsfeedCon .deleteBtn:hover {
  background-color: rgb(205, 16, 16);
  color: whitesmoke;
}
main .newsfeedCon .post_Deletes {
  display: flex;
  gap: 1rem;
}

main .newsfeed {
  margin-top: 0.7rem;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  background-color: #ffffff;
  padding: 5px 0px;
}

main .newsfeed .header {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;

  /* position: relative; */
}
main .newsfeed .header img {
  width: 2.1rem;
  height: 2.1rem;
}
main .newsfeed .header .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .newsfeed .header .profile h6 {
  font-weight: 500;
  font-size: 14px;
}
main .newsfeed .header .profile span {
  font-size: 10px;
  color: black;
  font-weight: 300;
  display: block;
}

main .newsDesc {
  width: 100%;
  padding-top: 0.6rem;
}
main .newsDesc p {
  font-size: 0.8rem;
  color: black;
  font-weight: 400;
}
main .newsfeedCon .box {
  padding: 0;
  margin: 0;
}
main .box p {
  font-size: 12px;
  padding-left: 20px;
  padding: 10px 20px;
  font-weight: 200px;
}
/* main .newsfeedCon img {
  width: 100%;
} */

main .newsfeedCon .box img {
  /* width: 100%; */

  max-width: 100%;
  /* border-radius: 50%; */
}

main .newsfeedCon .media {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
main .newsfeedCon .media .items {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 1rem;
  /* background-color: red; */
  border-radius: 0.5rem;
  transition: 0.4s ease;
  cursor: pointer;
}
main .newsfeedCon .media .items h6 {
  font-size: 0.8rem;
  color: black;
  font-weight: 400;
}
main .newsfeedCon .media .items i {
  color: rgb(100, 100, 100);
}
main .newsfeedCon .media .items svg {
  height: 1.5rem;
  width: 1.5rem;
  color: rgb(100, 100, 100);
}
main .newsfeedCon .media .items:hover {
  background-color: rgb(231, 230, 230);
}

/* main side  ends   here  */

/* ******************************Right side ********************************* */

/**************************** right side  *******************************/

aside .right_sidebar .top {
  height: 50vh;
  width: 100%;
  border-radius: 0.8rem;
  background-color: #ffffff;
  /* position: relative;
  overflow: hidden; */
  padding: 1rem;
}
.right_sidebar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(133, 132, 132);
}
.right_sidebar .header h6 {
  color: black;
  font-size: 1rem;
  font-weight: 400;
}
.right_sidebar .header i {
  cursor: pointer;
}

.right_sidebar .middle {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.right_sidebar .middle .items {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.9rem;
}

.right_sidebar .middle .items img {
  border-radius: 50%;
}
.right_sidebar .middle .items h6 {
  font-size: 0.9rem;
  font-weight: 500;
}
.right_sidebar .middle .items p {
  font-size: 0.7rem;
  font-weight: 300;
}
.right_sidebar .middle .items .btn {
  padding: 0.3rem 0;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5rem;
  width: 60%;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

.right_sidebar .middle .items .btn:hover {
  background-color: #f3f2ef;
  cursor: pointer;
  border: 1px solid rgb(89, 88, 88);
}
.right_sidebar .top .bottom h6 {
  margin: 0.9rem 0rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
  display: inline;
  padding: 0.4rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.right_sidebar .top .bottom h6:hover {
  background-color: rgb(235, 232, 232);
  border-radius: 0.2rem;
}

/* hiring task  */
aside .right_sidebar .hiring {
  margin-top: 1rem;
  padding: 0 0.5rem;
  width: 100%;
  border-radius: 0.8rem;
  background-color: #ffffff;
}
.right_sidebar .hiring img {
  width: 100%;
}

aside .footer {
  padding: 0.9rem 2.5rem;

  text-align: center;
}

aside .footer a {
  padding: 0.3rem;
  font-size: 0.7rem;
  text-decoration: none;
  font-weight: 300;
  color: rgb(91, 90, 90);
}
aside .footer a:hover {
  text-decoration: underline;
}

aside footer .btm {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.7rem;
  justify-content: center;
  font-weight: 400;
}
aside footer .btm svg {
  color: #0a66c2;
}
