.privacyCon .form_group {
  background-color: rgb(225, 226, 226);
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  border-radius: 0.8rem;
}
.privacyCon .form_group input {
  /* width: 100px; */
  width: 30%;
  height: 1.5rem;
  cursor: pointer;
}

.privacyCon .form_group label {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.privacyCon button {
  background-color: rgb(50, 143, 50);
  width: 100px;
  padding: 0.8rem;
  display: block;
  margin: 0px auto;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  box-shadow: 6px 8px 56px -8px rgba(0, 0, 0, 0.97);
}

.privacyCon button:hover {
  background-color: rgb(60, 189, 60);
}
